.header {
    background: peachpuff;
    padding: 15px;
    margin-bottom: 10px;
}

.header__logo {
    font-weight: bold;
    text-transform: uppercase;
}

.header__logo img {
    vertical-align: baseline;

}

.header__menu {
    margin-left: 20px;
    display: inline;
}